<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ads.abcbank"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!--<uses-feature-->
    <!--android:name="android.software.leanback"-->
    <!--android:required="true" />-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:logo="@drawable/app_icon_your_company" />
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask"
            android:logo="@drawable/app_icon_your_company" />
        <activity
            android:name=".activity.ReInitActivity"
            android:launchMode="singleTask"
            android:logo="@drawable/app_icon_your_company" />
        <activity
            android:name=".activity.Temp1Activity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Temp2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Temp3Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Temp4Activity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Temp5Activity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Temp6Activity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />

        <service
            android:name=".service.CmdService"
            android:exported="false" />
        <service
            android:name=".service.TimeCmdService"
            android:exported="false" />
        <service
            android:name=".service.ProtectCmdService"
            android:exported="false" />
        <service
            android:name=".service.PlaylistService"
            android:exported="false" />
        <service
            android:name=".service.TimePlaylistService"
            android:exported="false" />
        <service
            android:name=".service.ProtectPlaylistService"
            android:exported="false" />
        <service
            android:name=".service.PresetService"
            android:exported="false" />
        <service
            android:name=".service.TimePresetService"
            android:exported="false" />
        <service
            android:name=".service.ProtectPresetService"
            android:exported="false" />
        <service android:name=".service.DownloadService">
            <intent-filter>
                <action android:name="com.ads.abcbank.downtaskadd" />
                <action android:name="com.ads.abcbank.multidowntaskadd" />
                <action android:name="com.ads.abcbank.removetask" />
                <action android:name="com.ads.abcbank.cancelqueuetask" />
                <action android:name="com.ads.abcbank.startqueuetask" />
            </intent-filter>
        </service>

        <!-- 兼容Android7.0+禁止对外公开file://URI，应用间共享文件，应发送content://URI -->
        <!--
            name:可以直接使用默认的FileProvider，也可以继承做其它操作。
            authorities:定义唯一一个authorities，和构建content://uri中的getUriForFile方法的authority参数一致
            resource：指向保存位置path配置的xml文件。
            其它都是固定的。
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ads.abcbank.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 自动安装服务 -->
        <!--
            name:创建一个Service类继承AccessibilityService来处理接收到的事件
            label:在系统设置辅助功能中显示的名称。
            resource：指向配置的xml文件。
            其它都是固定的。
        -->
        <service
            android:name=".service.MyAccessibilityService"
            android:label="自动安装服务测试"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service"
                />
        </service>

        <receiver
            android:name=".service.CompReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>